<!-- <footer class="w-[1140] h-[300px] flex relative ">
    <div class="hidden w-[280px] h-full bg-[#f1f1f1] ">
        <span class="ml-[106px] text-base "><b>ZANDO APP</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[15px] ml-[106px] text-[15px] ">
                <img src="../../assets/images/smartphone.png" class="w-[25px] pr-[10px] object-contain  " alt=""> IOS App</span></a></li>
            <li><a href=""><span class="flex mt-[8px] ml-[106px] text-[15] ">
                <img src="../../assets/images/smartphone.png" class="w-[25px] pr-[10px] object-contain" alt=""> Android App</span></a></li>
        </ul>
    </div>
    <div class="w-[160px] h-full bg-[gray] ">
        <span class="text-base"><b>FOLLOW US</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[15px] ml-[3px] text-[15]">
                <img src="../../assets/images/facebook (1).png" class="w-[25px] pr-[10px] object-contain " alt=""> Facebook</span></a></li>
            <li><a href=""><span class="flex mt-[8px] ml-[3px] text-[15]">
                <img src="../../assets/images/instagram (1).png" class="w-[25px] pr-[10px] object-contain" alt=""> Instagram</span></a></li>
            <li><a href=""><span class="flex mt-[8px] ml-[3px] text-[15]">
                <img src="../../assets/images/tik-tok.png" class="w-[25px] pr-[10px] object-contain" alt=""> TikTok</span></a></li>
        </ul>
    </div>
    <div class="w-[265px] h-full bg-[#f1f1f1] ">
        <span class="text-base ml-[10px]"><b>CUSTOMER SERVICES</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[15px] ml-[3px] text-[15]">
                <img src="../../assets/images/question-mark-on-a-circular-black-background.png" class="w-[25px] pr-[10px] object-contain ml-[10px] " alt=""> Online exchange policy</span></a></li>
            <li><a href=""><span class="flex mt-[8px] ml-[3px] text-[15]">
                <img src="../../assets/images/keyhole.png" class="w-[25px] pr-[10px] object-contain ml-[10px]" alt=""> Privacy Policy</span></a></li>
        </ul>
    </div>
    <div class="w-[400px] h-full bg-[gray] ">
        <span class="text-base"><b>WE ACCEPT</b></span>
        <img src="https://zandokh.com/image/catalog/logo/web-footer/We-accept-payment–for-web-footer-1.png" alt="we accept payments ABA Pay, Credit/Debit Card, Wing, JCB, Bank Transfer, Cash on delivery and Chip Mong Bank." 
        class="mt-[15px] w-[220px] ">
    </div>
    <div class="w-[86%] h-[1px] absolute bottom-[100px] bg-black left-[110px]">
        
    </div>
    <span class="mt-[245px] text-[12px] absolute ">© 2015 - 2022 Zando. All rights resevered</span>
</footer> -->
<div class="grid-footer grid grid-cols-4">
    <div class="grid-item bg-[#f1f1f1]">1</div>
    <div class="grid-item bg-[gray]">2</div>
    <div class="grid-item bg-[#f1f1f1]">3</div>  
    <div class="grid-item bg-[#f51e1e]">4</div> 
  </div>


