<footer class="w-[1140] h-[300px] flex relative">
    <div class="w-[300px] h-full ">
        <span class="ml-[115px] text-base"><b>ZANDO APP</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[15px] ml-[120px] text-base"><img src="../../assets/images/smartphone.png" class="w-[25px] pr-[10px] object-contain " alt=""> IOS App</span></a></li>
            <li><a href=""><span class="flex mt-[8px] ml-[120px] text-base"><img src="../../assets/images/smartphone.png" class="w-[25px] pr-[10px] object-contain" alt=""> Android App</span></a></li>
        </ul>
    </div>
    <div class="w-[170px] h-full ">
        <span class="text-base"><b>FOLLOW US</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[15px] ml-[3px] text-base"><img src="../../assets/images/facebook (1).png" class="w-[25px] pr-[10px] object-contain " alt=""> Facebook</span></a></li>
            <li><a href=""><span class="flex mt-[8px] ml-[3px] text-base"><img src="../../assets/images/instagram (1).png" class="w-[25px] pr-[10px] object-contain" alt=""> Instagram</span></a></li>
            <li><a href=""><span class="flex mt-[8px] ml-[3px] text-base"><img src="../../assets/images/tik-tok.png" class="w-[25px] pr-[10px] object-contain" alt=""> TikTok</span></a></li>
        </ul>
    </div>
    <div class="w-[265px] h-full ">
        <span class="text-base"><b>CUSTOMER SERVICES</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[15px] ml-[3px] text-base"><img src="../../assets/images/question-mark-on-a-circular-black-background.png" class="w-[25px] pr-[10px] object-contain " alt=""> Online exchange policy</span></a></li>
            <li><a href=""><span class="flex mt-[8px] ml-[3px] text-base"><img src="../../assets/images/keyhole.png" class="w-[25px] pr-[10px] object-contain" alt=""> Privacy Policy</span></a></li>
        </ul>
    </div>
    <div class="w-[400px] h-full ">
        <span class="text-base"><b>WE ACCEPT</b></span>
        <img src="https://zandokh.com/image/catalog/logo/web-footer/We-accept-payment–for-web-footer-1.png" alt="we accept payments ABA Pay, Credit/Debit Card, Wing, JCB, Bank Transfer, Cash on delivery and Chip Mong Bank." class="mt-[15px] w-[280px]">
    </div>
    <div class="w-[86%] h-[1px] absolute bottom-[100px] bg-black left-[110px]">
        
    </div>
    <span class="mt-[245px] text-[12px]">© 2015 - 2022 Zando. All rights resevered</span>
</footer>



