 <div class="container grid grid-cols-5 h-[280px] mt-[50px] relative lg:mt-[170px] ">
    <div class="item bg-[] hidden lg:block">
        <span class=" ml-[130px] text-[15] lg:ml-[65px] xl:ml-[85px]"><b> ZANDO APP</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[8px] text-[14px] ">
                <img src="../../assets/images/smartphone.png" class="w-[25px] pr-[8px] object-contain ml-[130px] lg:ml-[65px] xl:ml-[85px]" alt=""> IOS App</span></a></li>
            <li><a href=""><span class="flex mt-[7px] text-[14px] ">
                <img src="../../assets/images/smartphone.png" class="w-[25px] pr-[8px] object-contain ml-[130px] lg:ml-[65px] xl:ml-[85px]" alt=""> Android App</span></a></li>
        </ul> 
    </div>
    <div class="item bg-[] col-span-2 h-[140px] md:col-span-1 lg:col-span-1">
         <span class=" text-[15] ml-[25px] md:ml-[60px] lg:ml-[25px] xl:ml-[-10px]"><b>FOLLOW US</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[8px] text-[14px]">
                <img src="../../assets/images/facebook (1).png" class="w-[25px] pr-[8px] object-contain ml-[25px] md:ml-[60px] lg:ml-[25px] xl:ml-[-10px]" alt=""> Facebook</span></a></li>
            <li><a href=""><span class="flex mt-[8px] text-[14px]">
                <img src="../../assets/images/instagram (1).png" class="w-[25px] pr-[8px] object-contain ml-[25px] md:ml-[60px] lg:ml-[25px] xl:ml-[-10px]" alt=""> Instagram</span></a></li>
            <li><a href=""><span class="flex mt-[8px] text-[14px]">
                <img src="../../assets/images/tik-tok.png" class="w-[25px] pr-[8px] object-contain ml-[25px] md:ml-[60px] lg:ml-[25px] xl:ml-[-10px]" alt=""> TikTok</span></a></li>
        </ul> 
    </div>
    <div class="item bg-[] col-span-3 md:col-span-2 lg:col-span-1">
        <span class="text-[15px] md:ml-[60px] ml-[15px] lg:ml-[-15px] xl:ml-[-80px]"><b>CUSTOMER SERVICES</b></span>
        <ul>
            <li><a href=""><span class="flex mt-[8px] text-[14px]">
                <img src="../../assets/images/question-mark-on-a-circular-black-background.png" class="w-[25px] pr-[8px] object-contain md:ml-[60px] ml-[15px] lg:ml-[-15px] xl:ml-[-80px]" alt=""> Online exchange policy</span></a></li>
            <li><a href=""><span class="flex mt-[8px] text-[14px]">
                <img src="../../assets/images/keyhole.png" class="w-[25px] pr-[8px] object-contain md:ml-[60px] ml-[15px] lg:ml-[-15px] xl:ml-[-80px]" alt=""> Privacy Policy</span></a></li>
        </ul> 
    </div>
    <div class="item bg-[] col-span-3 h-[200px] md:col-span-2">
        <span class="text-base ml-[25px] md:ml-[10px] lg:ml-[25px] xl:ml-[-60px]"><b>WE ACCEPT</b></span>
        <img src="https://zandokh.com/image/catalog/logo/web-footer/We-accept-payment–for-web-footer-1.png" alt="we accept payments ABA Pay, Credit/Debit Card, Wing, JCB, Bank Transfer, Cash on delivery and Chip Mong Bank." 
        class="mt-[15px] w-[200px] ml-[25px] md:ml-[10px] md:w-[230px] lg:ml-[25px] xl:ml-[-60px] xl:w-[300px]">
    </div> 
     <div class="w-[100%] h-[1px] absolute bottom-[25px] bg-black md:bottom-[120px] md:left-[8%] lg:w-[80%] lg:left-[11%] lg:right-[9%] lg:ml-[-50px]"></div> 
    <span class="mt-[280px] ml-[20%] text-[12px] absolute md:ml-[40%] md:bottom-[50px]  lg:ml-[62%] xl:ml-[68%]">© 2015 - 2022 Zando. All rights resevered</span>
 </div>
 