<br>
<div class="grid grid-cols-4 gap-5 mr-[20px] ml-[20px]">
    <div class="card cursor-pointer">
        <img src="assets/images/Men-Long-Sleeves-Sweater-Shirt (6)-cr-450x672.jpg" class="w-[100%] h-[80%] hover:scale-[1.02] ease-out duration-300 hover:drop-shadow-xl" alt="">
        <div class="ml-2 mt-7">
            <span>
                <p class="text-pink-400 font-bold">US $5.50<span class="mr-5 ml-3 text-gray-900">50%</span><span class="line-through font-light text-gray-400">US $11.00</span>
                    <img src="assets/images/love (1).png" class="w-5 inline mr-2 float-right" alt="">
                </p>
            </span>    
            <p class="mt-2 mb-2">Men Sweatshirt</p>
            <span class="flex justify-between w-[35%]">
                <div class="bg-black rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-red-500 rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-green-700 rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-purple-500 rounded border-2 w-4 h-4 border-none"></div>
                <img src="assets/images/plus.png" class="w-4" alt="">
            </span>
        </div>  
    </div>
    <div class="card cursor-pointer">
        <img src="assets/images/Men-Long-Sleeves-Sweater-Shirt (6)-cr-450x672.jpg" class="w-[100%] h-[80%] hover:scale-[1.02] ease-out duration-300 hover:drop-shadow-xl" alt="">
        <div class="ml-2 mt-7">
            <span>
                <p class="text-pink-400 font-bold">US $5.50<span class="mr-5 ml-3 text-gray-900">50%</span><span class="line-through font-light text-gray-400">US $11.00</span>
                    <img src="assets/images/love (1).png" class="w-5 inline mr-2 float-right" alt="">
                </p>
            </span>    
            <p class="mt-2 mb-2">Men Sweatshirt</p>
            <span class="flex justify-between w-[35%]">
                <div class="bg-black rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-red-500 rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-green-700 rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-purple-500 rounded border-2 w-4 h-4 border-none"></div>
                <img src="assets/images/plus.png" class="w-4" alt="">
            </span>
        </div>  
    </div>
    <div class="card cursor-pointer">
        <img src="assets/images/Men-Long-Sleeves-Sweater-Shirt (6)-cr-450x672.jpg" class="w-[100%] h-[80%] hover:scale-[1.02] ease-out duration-300 hover:drop-shadow-xl" alt="">
        <div class="ml-2 mt-7">
            <span>
                <p class="text-pink-400 font-bold">US $5.50<span class="mr-5 ml-3 text-gray-900">50%</span><span class="line-through font-light text-gray-400">US $11.00</span>
                    <img src="assets/images/love (1).png" class="w-5 inline mr-2 float-right" alt="">
                </p>
            </span>    
            <p class="mt-2 mb-2">Men Sweatshirt</p>
            <span class="flex justify-between w-[35%]">
                <div class="bg-black rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-red-500 rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-green-700 rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-purple-500 rounded border-2 w-4 h-4 border-none"></div>
                <img src="assets/images/plus.png" class="w-4" alt="">
            </span>
        </div>  
    </div>
    <div class="card cursor-pointer">
        <img src="assets/images/Men-Long-Sleeves-Sweater-Shirt (6)-cr-450x672.jpg" class="w-[100%] h-[80%] hover:scale-[1.02] ease-out duration-300 hover:drop-shadow-xl" alt="">
        <div class="ml-2 mt-7">
            <span>
                <p class="text-pink-400 font-bold">US $5.50<span class="mr-5 ml-3 text-gray-900">50%</span><span class="line-through font-light text-gray-400">US $11.00</span>
                    <img src="assets/images/love (1).png" class="w-5 inline mr-2 float-right" alt="">
                </p>
            </span>    
            <p class="mt-2 mb-2">Men Sweatshirt</p>
            <span class="flex justify-between w-[35%]">
                <div class="bg-black rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-red-500 rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-green-700 rounded border-2 w-4 h-4 border-none"></div>
                <div class="bg-purple-500 rounded border-2 w-4 h-4 border-none"></div>
                <img src="assets/images/plus.png" class="w-4" alt="">
            </span>
        </div>  
    </div>
</div>
<br><br><br><br>
<br><br><br><br>